<div class="section">
   <div class="container">
     <div class="row">
       <div class="col-md-12 jumbotron">
         <h1>Fill Up Form for a business</h1>
         <form name="businessForm">
           <div class="form-group">
             <label class="control-label">Name</label>
             <input class="form-control" type="text" ng-model="form.name" required>
           </div>
           <div class="form-group">
             <label class="control-label">Address</label>
             <input class="form-control" type="text" ng-model="form.address" required>
           </div>
           <div class="form-group">
             <label class="control-label">City</label>
             <input class="form-control" type="text" ng-model="form.city" required>
           </div>
           <div class="form-group">
             <label class="control-label">State</label>
             <input class="form-control" type="text" ng-model="form.state" required>
           </div>
           <div class="form-group">
             <label class="control-label">Country</label>
             <input class="form-control" type="text" ng-model="form.country" required>
           </div>
           <div class="form-group">
             <label class="control-label">Phone Number</label>
             <input class="form-control" type="tel" ng-model="form.phoneNumber" required>
           </div>
           <div class="form-group">
             <label class="control-label">Website</label>
             <input class="form-control"type="url" ng-model="form.website" required>
           </div>
           <div class="form-group">
             <label class="control-label">Latitude</label>
             <input class="form-control" type="text" ng-model="form.latitude" required>
           </div>
           <div class="form-group">
             <label class="control-label">Longitude</label>
             <input class="form-control" type="text" ng-model="form.longitude" required>
           </div>
           <div class="form-group">
             <label class="control-label">Open 24 hours?</label>
             <input type="radio" name="openAllDay" value="1" ng-model="form.isOpenAllDay"> Yes
             <input type="radio" name="openAllDay" value="0"  ng-model="form.isNotOpenAllDay"> No
             <br>
           </div>
           <div class="form-group">
             <label class="control-label">Opening Time</label>
             <br>
             <input type="time" ng-model="timeOpen">
           </div>
           <div class="form-group">
             <label class="control-label">Closing Time</label>
             <br>
             <input type="time" ng-model="timeClose">
           </div>
           <button type="submit" class="btn btn-lg btn-primary" ng-click="submitButton()">Submit</button>
         </form>
       </div>
     </div>
   </div>
 </div>
<!--ng-disabled="businessForm.$invalid" -->
